<!DOCTYPE html>
<html ng-app="vehicles">
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <script type="text/javascript" src="javascript/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="javascript/angular.min.js"></script>
        <script type="text/javascript" src="javascript/app.js"></script>
        <style>
.border {
    border-style: solid;
    border-width: 2px;
}

        </style>
    </head>
    <body>

        <h1>Gerenciador de Veículos</h1>
        <section ng-init="tab = 1">
            <ul class="nav nav-pills">
                <li ng-class="{ active:tab === 1}">
                    <a href ng-click="tab = 1">Veiculos</a>
                </li>
                <li ng-class="{ active:tab === 2}">
                    <a href ng-click="tab = 2">Montadoras</a>
                </li>
                <li ng-class="{ active:tab === 3}">
                    <a href ng-click="tab = 3">Modelos</a>
                </li>
            </ul>
        </section>
        <section ng-hide=" tab != 1">
        <section>
        <div id="addForm" >
            <h2>Adicionar Veículo</h2>
            <!-- Create form -->
            <div class="form-group">
            <form name="createVehicle" ng-controller="VehiclesAddController as vehiclesCtrl"
                                       ng-submit="vehiclesCtrl.addVehicle()">
                <label>Tipo: </label>
                <select ng-model="vehiclesCtrl.vehicle.vehicle_type">
                    <option value="moto">Moto</option>
                    <option value="car">Carro</option>
                </select>
                <label>Montadora: </label>
                <input type="text" ng-model="vehiclesCtrl.vehicle.manufacturer" />
                <label>Modelo: </label>
                <input type="text" ng-model="vehiclesCtrl.vehicle.model"/>
                <label>Cor: </label>
                <input type="text" ng-model="vehiclesCtrl.vehicle.color"/>
                <label>Kilometragem: </label>
                <input type="text" ng-model="vehiclesCtrl.vehicle.kms"/>
                <label>Motor: </label>
                <input type="text" ng-model="vehiclesCtrl.vehicle.engine" />
                <input class="btn" type="submit" value="Inserir" />
            </form>
            </div>
        </div>
        </section>
        <section>
        <div ng-controller='VehicleSearchController as search'>
            <h2>Buscar Veículos:</h2>
            <!-- Search form-->
            <div class="form-group">
            <form name="searchParams" ng-submit="search.formSubmit();">
                <label>Tipo: </label>
                <select ng-model="search.params.vehicle_type">
                    <option value="moto">Moto</option>
                    <option value="car">Carro</option>
                </select>
                <label>Montadora:
                    <input type="text" ng-model="search.params.manufacturer" />
                </label>
                <label>Modelo:
                    <input type="text" ng-model="search.params.model"/>
                </label>
                <label>Cor:
                    <input type="text" ng-model="search.params.color"/>
                </label>
                <label>Kilometragem:
                    <select ng-model="search.params.km_oper">
                        <option value="=">=</option>
                        <option value=">=">&gt;=</option>
                        <option value="<=">&lt;=</option>
                    </select>
                    <input type="text" ng-model="search.params.kms"/>
                </label>
                <label>Motor:
                    <select ng-model="search.params.engine_oper">
                        <option value="=">=</option>
                        <option value=">=">&gt;=</option>
                        <option value="<=">&lt;=</option>
                    </select>
                    <input type="text" ng-model="search.params.engine" />
                </label>
                <input class="btn" type="submit" value="Buscar" />
            </form>
            </div>
            <button ng-click="search.returnAll()">Mostrar todos</button>

            <hr />
            <div ng-show="search.vehicles.length" ng-repeat="vehicle in search.vehicles">
                <div class="border" id="veiculo_{{vehicle.id}}">
                    <ul>
                        <li><montadora-edit></montadora-edit></li>
                        <li><modelo-edit></modelo-edit></li>
                        <li><color-edit></color-edit></li>
                        <li><kms-edit></kms-edit></li>
                        <li><engine-edit></engine-edit></li>
                        <li><type-edit></type-edit></li>
                    </ul>
                    <vehicle-delete></vehicle-delete>
                </div>
            </div>
        </div>
        </section>
        </section>
        <section ng-hide="tab != 2">
            <h2>Adicionar Montadora</h2>
            <manufacturer-form></manufacturer-form>
        </section>
        <section ng-hide="tab != 3">
            <h2>Adicionar Modelo</h2>
        </section>
    </body>
</html>
